services:
  mongo:
    image: mongo:6.0
    environment:
      MONGO_INITDB_ROOT_USERNAME: murad
      MONGO_INITDB_ROOT_PASSWORD: murad
    networks:
      - backend

  todo:
    build:
      context: ./src/api
    depends_on:
      - mongo
    networks:
      - backend
      - frontend

  todo-ui:
    build:
      context: ./src/todo-ui
    ports:
      - 8080:3000
    depends_on:
      - todo
    networks:
      - frontend
    environment:
      - API_BASE_URI=http://todo:3000

networks:
  backend:
    driver: bridge
  frontend:
    driver: bridge
